# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcworkspace/xcuserdata/

# SwiftPM
/.build/
/Packages/

# Personal settings
*.xcuserdatad

# Fastlane, CocoaPods, Carthage (если добавишь позже)
fastlane/report.xml
Pods/
Carthage/
